<style type="text/css">

    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #ffffff;
        position: relative;
        top: -11px;
        z-index: 1;
    }


</style>
<div class="container mt-5">
  <br>
  <div class="row">
    <div class="card col-md-4 shadow" id="sign-card">
      <h2 class="text-center mt-4">Sign in</h2> 
      <%= simple_form_for :session, url: session_path, defaults: {required:false} do |f| %>
        <%= f.input :email, placeholder: 'user@domain.com' %>              
        <%= f.input :password, hint: 'No special characters.' %>
        <%= f.button :submit, class:"btn btn-success btn-block" %>
         <div class="or-seperator"><i>or</i></div>
        <a href="/auth/google_oauth2" class="btn btn-danger btn-block"><i class="fab fa-google" aria-hidden="true"></i> Sign in with <b>Google</b></a>
        <a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fab fa-facebook" aria-hidden="true"></i> Sign in with <b>Facebook</b></a>
      <% end %>
      <br>
      <% if Clearance.configuration.allow_sign_up? %>
        <p class="hint-text text-center small text text-muted">Don’t have an account? <%= link_to 'Sign up', sign_up_path, class: "text-success" %></p>
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>



