<style>
  body {
      background-image: linear-gradient(to top, #af9cf2 0%, #ffffff 40%);

      /*url("https://images.unsplash.com/photo-1526516241015-a458e2f23fbd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cac9c939409894562dfddbc93e934e95&auto=format&fit=crop&w=2734&q=80");*/
      /* Full height */
      height: 100%; 

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #service-card{
    background-color: rgba(245, 245, 242, 0.8); 
    opacity: 1;
  }
</style>


<div class="container md-12">
  <h3 class="text-uppercase text-center">VISIBLE ELEGANCE OFFERS A FULL RANGE OF PROFESSIONAL SERVICES.</h3>
  <div class="row">
    <center><p id="notice"><%= notice %></p></center>
    <% @service_types.each do |service_type| %>
      <div class="card col-md-3.5 m-4 p-4 shadow stylish-color-dark " id="service-card">
        <h4 class="text-center mt-2 stylish-color-dark font-weight-bold text-uppercase"><%= service_type.name %></h4> 
        <table class="table-responsive table-hover">
          <thead>
            <tr>
              <th>Service</th>
              <th>Price</th>
              <th>Length</th>
            </tr>
          </thead>
          <hr>
          <tbody>
         
            <% service_type.services.order('name ASC').each do |service| %>
              <tr>
                <td><%= service.name %></td>
                <td>$<%= service.price %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><%= service.length %> min</td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>