<div class="container md-12 mt-4 pt-4">
  <div class="row">
    <div class="col-md-4">
        <center>
          <% if @user.avatar? %>
              <%= image_tag(@user.avatar_url, class: 'rounded-circle',width: '300', height: '300') %>
              <br><br>
  
          <% else %>
              <%= image_tag( "http://hannsaa.com/userfiles/avatars/default.jpg", class: 'rounded-circle',width: '300', height: '300') %>
             <br>
             <br>
          <% end %>
          <p class="stylish-color-dark"> Joined on <%= @user.created_at.strftime("%B %Y") %></p>
          <% if current_user == @user %>
            <%= link_to 'Edit Profile', edit_user_path(@user),class: "btn btn-danger btn-sm" %> 
          <p id="notice"><%= notice %></p>
          <% end %>
        </center>
    </div>
    
    <div class="container card shadow col-md-8 stylish-color-dark">
      <center>
        <h2 class="pt-2"><%= @user.first_name %>'s Reservations</h2>
      </center>          
      <table class="table table-striped">
        <thead>
          <tr>
          <th>Service</th>
          <th>Date</th>
          <th>Time</th>
          <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% @user.reservations.each do |reservation| %>
            <tr>
              <td><%= reservation.service.name %></td>
              <td><%= reservation.reservation_date.strftime("%d %B %Y") %></td>
              <td><%= reservation.reservation_time.strftime('%H:%M') %></td>
              <td><%= reservation.notes %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
