<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>Service:</strong>
  <%= @reservation.service %>
</p>

<p>
  <strong>Reservation date:</strong>
  <%= @reservation.reservation_date %>
</p>

<p>
  <strong>Reservation time:</strong>
  <%= @reservation.reservation_time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @reservation.notes %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
