<!DOCTYPE html>
<html>
  <head>
    <title>VisibleElegance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- font awesome style sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    
    <style type="text/css">

        /*Styling for the navbar*/
      #mainNav {
           background-color: #212529;
           text-decoration: none;
             
      }
       
      #mainNav .navbar-toggler {
           font-size: 12px;
           right: 0;
           padding: 13px;
           text-transform: uppercase;
           color: #fff;
           border: 0;
           background-color: #00d8ff;
           font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
       
      #mainNav .navbar-brand {
         color: #00d8ff;
         font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
       
      #mainNav .navbar-brand.active,
      #mainNav .navbar-brand:active,
      #mainNav .navbar-brand:focus,
      #mainNav .navbar-brand:hover {
           color: white
      }
   

      /**********nav customize***********/
      .navbar-dark .navbar-nav .nav-link {
            color: white;
      }
      .navbar-dark .navbar-nav .nav-link:hover {
          color: #00d8ff;
      }


      .nav-img{
        margin-top: -6px;
      }
      /******* !Nav customize **********/

      .jumbotron-background {
        background-image: url('http://thewowstyle.com/wp-content/uploads/2015/05/pictures-of-beautiful-women..jpg');
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right -150px;
        margin-top: 55px;
      }
      /******* customize **********/
      a{
        color: black;
        text-decoration: none;
      }
      body {
        font-family: 'Fira Sans', sans-serif;
        padding-bottom:60px;   /* Height of the footer */
      }
      footer {
         position:relative;
         /*bottom:0;*/
         width:100%;
        background-color: rgba(245, 245, 245, 0); 
        opacity: 1;
      }
      /******* Modal -or- seperator **********/
      .or-seperator {
          margin: 20px 0 10px;
          text-align: center;
          border-top: 1px solid #ccc;
      }
      .or-seperator i {
          padding: 0 10px;
          background: #ffffff;
          position: relative;
          top: -11px;
          z-index: 1;
      }
      /******* !Modal or seperator **********/

      /* Set margin between nav and body */
      main {
          margin-top: 150px; /* Add a top margin to avoid content overlay */
      }

    /******* Social media button **********/
      ul.social-buttons {
        margin-bottom: 0;
      }

      ul.social-buttons li a {
        font-size: 20px;
        line-height: 50px;
        display: block;
        width: 50px;
        height: 50px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: white;
        border-radius: 100%;
        outline: none;
        background-color: #212529;
      }

      ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
        background-color: #00d8ff;
      }
      /******* !Social media button **********/

      /******* Team members section **********/
      .team-member {
        margin-bottom: 50px;
        text-align: center;
      }

      .team-member img {
        width: 225px;
        height: 225px;
        border: 7px solid #fff;
      }

      .team-member h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
      }

      .team-member p {
        margin-top: 0;
      }
      /******* !Team members section **********/
      .fa-stack i:hover {
        border-radius: 100%;
        outline: none;
        background-color: #00d8ff;

      }
    </style>


  </head>
  
  
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg shadow navbar-dark fixed-top" id="mainNav">
    <!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"> -->
      <div class="container">
        <%= link_to "VisibleElegance", root_path, class: "navbar-brand  js-scroll-trigger font-weight-bold " %>
        <button class="navbar-toggler navbar-toggler-right mr-2" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <%= link_to "Prices", service_types_path, class: "nav-link js-scroll-trigger" %>
            </li>
            <% if controller_name == "welcome" %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "contact", new_reservation_path, class: "nav-link"%>
            </li>
            <% if logged_in? %>
              <!-- while logged in -->
              <%= admin_status %>
              <li class="nav-item">
                <%= link_to 'Sign out', log_out_path, class: "nav-link", method: :delete %>
              </li>
              <li> 
                <% if current_user.avatar? %>
                  <%= link_to image_tag(current_user.avatar_url,class: 'rounded-circle nav-img',width: '30', height: '30'), current_user, class: "nav-link"%>
                <% else %>
                  <%= link_to current_user.first_name, current_user, class: "nav-link"%>
                <% end %>
              </li>
              <% else %>
                <!-- while logged out -->
                <% if controller_name == "sessions" || controller_name == "users" %>
                <li></li>
                <% else %>
                <li class="nav-item">
                  <%= link_to 'Create Account', sign_up_path, class: "nav-link"%>
                </li>
                <li class="nav-item">
                  <a href="#" data-target="#sign-in" data-toggle="modal" class="nav-link">Sign In</a>
                </li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- !Navigation -->
    <% if controller_name != "welcome" %>
    <div id="main">
    </div>
    <% end %>

    <!---------------- Sign in Modal ---------------------->

      <div class="modal fade" id="sign-in" tabindex="0">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title"> Sign In </h4>
                      <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                      <div class="modal-body">
                        <%= simple_form_for :session, url: session_path, defaults: {required:false} do |f| %>
                          <%= f.input :email, placeholder: 'user@domain.com' %>              
                          <%= f.input :password, hint: 'No special characters.' %>
                          <%= f.button :submit, class:"btn btn-success btn-block" %>
                           <div class="or-seperator"><i>or</i></div>
                          <a href="/auth/google_oauth2" class="btn btn-danger btn-block"><i class="fab fa-google" aria-hidden="true"></i> Sign in with <b>Google</b></a>
                          <a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fab fa-facebook" aria-hidden="true"></i> Sign in with <b>Facebook</b></a>
                        <% end %>
                        <br>
                        <% if Clearance.configuration.allow_sign_up? %>
                          <p class="hint-text text-center small text text-muted">Don’t have an account? <%= link_to 'Sign up', sign_up_path, class: "text-success" %></p>
                        <% end %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        
    <!---------------- !Sign in Modal ---------------------->  
    <!-- FacebookSDK https://developers.facebook.com/docs/plugins/page-plugin/ -->
    <div id="fb-root"></div>
    <script>

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')); // Replace 'facebook-jssdk' with your page id.

    // Compatibility with Turbolinks 5
    (function($) {
      var fbRoot;

      function saveFacebookRoot() {
        if ($('#fb-root').length) {
          fbRoot = $('#fb-root').detach();
        }
      };

      function restoreFacebookRoot() {
        if (fbRoot != null) {
          if ($('#fb-root').length) {
            $('#fb-root').replaceWith(fbRoot);
          } else {
            $('body').append(fbRoot);
          }
        }

        if (typeof FB !== "undefined" && FB !== null) { // Instance of FacebookSDK
          FB.XFBML.parse();
        }
      };

      document.addEventListener('turbolinks:request-start', saveFacebookRoot)
      document.addEventListener('turbolinks:load', restoreFacebookRoot)
    }(jQuery));

    </script>
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
    (function () {
        var options = {
            facebook: "138734002813915", // Facebook page ID
            call_to_action: "Chat with us", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
    </script>
    <!-- /WhatsHelp.io widget -->

    <%= yield %>



   
    <!------------ Footer ------------>
    <footer class="page-footer font-small stylish-color-dark">
      <% unless black_list %>
        <!-- Footer Links -->
        <div class="text-center text-md-left">
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mx-auto">

              <!-- Links -->
              <h3 class="font-weight-bold text-center text-uppercase mt-3 mb-4">Featured content</h3>

              <ul class="list-unstyled text-center">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div><!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-6 mx-auto">
              <!------------Contact ------------>
            <h3 class="font-weight-bold text-uppercase mt-3 mb-4" id="contact">contact information</h3>
            <div class="pull-left">
                <img src="https://dumielauxepices.net/sites/default/files/logos-clipart-hair-668873-47372.jpg" style="width:200px;height:150px">
              </div>
              <div class="text">
                <p>
                  <small>
                    <i class="fa fa-home fa-lg"></i>  <%= business_info.name %><br>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= business_info.street %>, <br>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= business_info.city %>, <%= business_info.state %> <br>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= business_info.zipcode %>, <%= business_info.country %><br>
                    <i class="fa fa-phone fa-lg"></i> <%= business_info.phone %><br><br>
                    <i class="fa fa-envelope fa-lg"></i> <span><a href="mailto:<%= business_info.email %>"><%= business_info.email %></a></span>
                  </small>     
                </p>
              </div>
            </div>
          </div><!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <% end %>
        <hr>
        <!------------ Social buttons ------------>
        <ul class="list-unstyled list-inline text-center">
          <% if business_info.facebook.present? %>
          <li class="list-inline-item">
            <a href="<%= @business.facebook %>" class="btn-floating btn-fb mx-1" target="_blank">
              <i class="fab fa-facebook fa-3x"> </i>
            </a>
          </li>
          <% end %>
          <% if business_info.instagram.present? %>
          <li class="list-inline-item">
            <a href="<%= @business.instagram %>" class="btn-floating btn-tw mx-1" target="_blank">
              <i class="fab fa-instagram fa-3x"> </i>
            </a>
          </li>
          <% end %>
          <% if business_info.youtube.present? %>
          <li class="list-inline-item">
            <a href="<%= @business.youtube %>" class="btn-floating btn-li mx-1">
              <i class="fab fa-youtube fa-3x"> </i>
            </a>
          </li>
          <% end %>
        </ul>
        <!------------ !Social buttons ------------>
        <!-- Copyright -->
        <div class="footer-copyright text-center text-muted"><small>© 2018 Copyright:
          <a href="#" class="text-muted"> <%= business_info.email %></a></small>
        </div>
    </footer>
    <!------------ !Footer ------------>
 

  </body>

</html>
